version: 2
jobs:
  build:
    docker:
      - image: ubuntu:18.04
    
    working_directory: ~/repo


    steps:
      - run: apt update
      - run: apt install apt-transport-https dirmngr
      - run: apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
      - run: echo "deb https://download.mono-project.com/repo/ubuntu vs-bionic main" | tee /etc/apt/sources.list.d/mono-official-vs.list
      - run: apt update
      - run: apt-get install monodevelop
      - checkout

      - run:
          name: mkdir
          command: mkdir output
      - run:
          name: Download Library
          command: wget https://github.com/Grover-c13/Smod2/releases/download/3.2.2/Smod2.dll
      - run:
          name: Compile
          command: csc -target:library -reference:Smod2.dll IPBlock.cs -optimize -out:output/IPBlock.dll

      - store_artifacts:
          path: output
          
